
@font-face {
  font-family: 'Audiowide';
  src: url(../../../public/fonts/Audiowide-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url(../../../public/fonts/PixelifySans-Medium.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url(../../../public/fonts/Orbitron-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
.buttonLayout{
    display: flex;
    flex-direction: row;
    gap: 1px; /* Add space between buttons */
    top:30rem;
    right: 19rem;
    position: absolute;
  }

  
.welcome{
    /* Welcome to */
    position: absolute;
    width: 304px;
 
    left: 35%;
    top: 15%;
  
    font-family: 'Orbitron';
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
  }

  .heading {
    top: 20%;
    left: 35%;
    position: absolute;
    font-family: 'Audiowide';
    font-size: 5vw; /* Responsive font size */
    color: #00FFF7;
  }




.heading_shadow {
  top: 21%;
  left: 35%;
  position: absolute;
  font-family: 'Audiowide';
  font-size: 5vw; /* Responsive font size */
  background: linear-gradient(180deg, #00FFF7, #2C3C94, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-family: 'Pixelify';
  top: 20%;
  font-size: 1.5rem; /* Responsive font size */
  color: #9CFFFC;
  margin: 20px 0; /* Space above and below */
}

.buttonLayout {
  align-items: center;
  left: 25%;
  flex-direction: row;
  gap: 10px; /* Space between buttons */
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.image{
  position: absolute;
  top:20%;
  left : 12%;
  z-index: -1;
}
/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
  .image{

  }
  .welcome {
      font-size: 2rem; /* Smaller font size on small screens */
  }

  .heading,
  .heading_shadow {
      font-size: 6vw; /* Larger text on smaller screens */
  }

  .desc {
      font-size: 1.2rem; /* Smaller font size on small screens */
  }

  .buttonLayout {
      /* Stack buttons vertically */
      align-items: center; /* Center buttons */
  }
}